
body{
    font-family: 'Poppins', sans-serif;
}

.titulo{
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.titulo2{
    text-align: center;
}

.boton{
    width: 200px;
}

.show{
    display: block;
}

.hidden{
    display: none;
}






.grid{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(10px, auto);
    border-radius: 1px;
    
}


.grid div{
  border: 1px solid black;
}

.item {
  background-color: #90c8e7;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.cero{
  grid-column: 1/2;
  grid-row: 1/3;
}
.uno{
  grid-column: 2/4;
}
.dos{
  grid-column: 4/6;
}
.tres{
  grid-column: 6/8;
}
.cuatro{
  grid-column: 8/10;
  font-size: 12px;
}
.cuatro4{
  grid-column: 10/12;
  font-size: 12px;
}



.cinco{
  grid-row: 3/5;
}
.d6{
  grid-column: 2/4;
  text-align: center;
  font-size: 12px;
}
.d7{
  grid-column: 4/6;
  text-align: center;
  font-size: 12px;
}
.d8{
  grid-column: 6/8;
  text-align: center;
  font-size: 12px;
}
.d15{
  grid-row: 5/7;
}
.d16{
  grid-row: 7/9;
}



.itemex {
  background-color: #def6f3;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 11px;
  text-align: center;
}

.itemex1{
  background-color: #def6f3;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.itemex2{
  background-color: #c0c0c0;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}